.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    background: #000 !important;
}

.btn.btn-primary{
    background-color: #00bcd4 !important;
}

.label-form{
    color: #000;
    font-size: 12pt;
}

.internal-image-view { 
    max-height: 450px !important;
}

.carousel-caption-text {
    background: #000;
    opacity: 0.8;
}

.principal-link {
    color: black;
}